*{
    margin: 0;
}
/* .body{
    background-image: url('../images/pexels-thatguycraig000-1563356.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
} */
 .alada{
    background-image: url('../images/pexels-thatguycraig000-1563356.jpg');
    height: 100vh;
    background-size: cover;
 }